{% extends "template.html" %}
{% block conteudo %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default" style="background-color: rgb(247, 7, 7);">
                <tr>
                    <th class="text-light">Nome</th>
                    <th class="text-light">Banda</th>
                    <th class="text-light">Genero</th>
                </tr>
            </thead>
            <tbody>
                {% for som in sons %}
                <tr>
                    <td class="text-light">{{som.nome}}</td>
                    <td class="text-light">{{som.banda}}</td>
                    <td class="text-light">{{som.genero}}</td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
{% endblock %}
